.nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #777;
}

.img-fluid {
  width: 80px;
  height: 80px;
}

.form-control-feedback {
  top: 20px;
}

.form-control-feedback.form-control-feedback-toggle {
  left: auto;
  right: 0 !important;
  cursor: pointer;
}
