<div class="content-inner" (scroll)="scrollHandler($event)">
  <app-page-header [items]="['Procurement','MR']" [ignoreCase]="true"
    [pageTitle]="mrDetails?.id > 0 ?'Edit MR': 'Create MR'" [buttons]="buttons" (modified)="buttonClicked($event)">
  </app-page-header>

  <div class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-collapse collapse" id="navbar-second">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="navbar-nav-link active" data-toggle="tab">
            <i class="bi bi-list mr-2"></i>
            General Info
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-lg-auto">

        <li class="nav-item">
          <a class="navbar-nav-link">
            <i class="bi bi-stack text-secondary mr-2"></i>
            MR No : {{mrDetails?.code}}
          </a>
        </li>

        <li class="nav-item">
          <a class="navbar-nav-link">
            <i class="bi bi-person-fill text-secondary mr-2"></i>
            Created by : {{user?.userName ?? user}}
          </a>
        </li>

        <li class="nav-item">
          <a class="navbar-nav-link">
            <i class="bi bi-calendar-event text-secondary mr-2"></i>
            Created Date : {{ presentDate | localizedDate}}
          </a>
        </li>


        <li class="nav-item dropdown">

          <a class="navbar-nav-link dropdown-toggle text-success" data-toggle="dropdown" aria-expanded="false">

            Status
          </a>

          <div class="dropdown-menu">
            <a class="dropdown-item text-danger">Close</a>
            <a class="dropdown-item text-warning">Pending</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="content" *ngIf="isDataLoaded">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-transparent header-elements-inline">
            <h6 class="card-title font-weight-semibold text-secondary">General Information</h6>
            <div class="header-elements">
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="generalForm">
              <div class="row">
                <div class="col-sm-3 mb-4">
                  <app-label [label]="'Project'" [isRequired]="true"></app-label>
                  <kendo-dropdownlist class="form-group" [data]="filteredData?.projects" [filterable]="true" textField="name"
                    valueField="id" [formControlName]="'project'" (filterChange)="handleFilter($event,'projects')"
                    [defaultItem]="defaultItem('Project')" (selectionChange)="projectSelected($event)"
                    [readonly]="mrDetails?.id>0">
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                      <span *ngIf="dataItem.name">{{ dataItem.code }} - {{ dataItem.name }}
                      </span>
                    </ng-template>
                  </kendo-dropdownlist>
                </div>
                <div class="col-sm-3 mb-4">
                  <app-label [label]="'WO Type'" [isRequired]="true"></app-label>
                  <kendo-dropdownlist class="form-group" [data]="filteredData?.workOrderTypes" [filterable]="true" textField="name"
                    valueField="id" [formControlName]="'workOrderType'" [readonly]="mrDetails?.id > 0"
                    (filterChange)="handleFilter($event,'workOrderTypes')" [defaultItem]="'Select WO Type'"
                    (selectionChange)="getWorkOrderInfo($event)">
                  </kendo-dropdownlist>
                </div>
                <div class="col-sm-3 mb-4">
                  <app-label [label]="'Work Order No'" [isRequired]="true"></app-label>
                  <kendo-dropdownlist class="form-group" [data]="filteredData?.workOrders" [filterable]="true" textField="name"
                    valueField="id" [formControlName]="'workOrderNo'" [defaultItem]="'Select Work Order No'"
                    (selectionChange)="workOrderSelected($event)" [readonly]="mrDetails?.id > 0">
                  </kendo-dropdownlist>
                </div>
                <div class="col-sm-3 mb-4">
                  <app-text-field #wodate [formControlName]="'workOrderDt'" [formGroup]="generalForm"
                    [fieldName]="'workOrderDt'" [label]="'workOrderDt'" [placeholder]="'Work Order Date'"
                    ngDefaultControl [value]="selectedWorkOrder?.workOrderDate" [isReadonly]="true">
                  </app-text-field>
                </div>
                <div class="col-sm-3 mb-2">
                  <app-text-field [formControlName]="'serviceReportNo'" [formGroup]="generalForm"
                    [fieldName]="'serviceReportNo'" [label]="'Service Report No'" ngDefaultControl
                    [value]="mrDetails?.serviceReportNo" [isRequired]="false">
                  </app-text-field>
                </div>
                <div class="col-sm-3 mb-2">
                  <app-text-field [formControlName]="'serviceReportDt'" [formGroup]="generalForm"
                    [fieldName]="'serviceReportDt'" [label]="'Service Report Dt'" [placeholder]="'Service Report Dt.'"
                    ngDefaultControl [value]="mrDetails?.serviceReportDate | localizedDate " [pipe]="'date'"
                    [isRequired]="false">
                  </app-text-field>
                </div>
                <div class="col-sm-3 mb-2">
                  <app-text-field [formControlName]="'location'" [formGroup]="generalForm" [fieldName]="'location'"
                    [label]="'Location'" ngDefaultControl [value]="selectedWorkOrder?.location" [isRequired]="false"
                    [isReadonly]="true">
                  </app-text-field>
                </div>
                <div class="col-sm-6 mb-2">
                  <app-text-field [formControlName]="'description'" [formGroup]="generalForm"
                    [fieldName]="'description'" [label]="'Description'" ngDefaultControl
                    [value]="mrDetails?.description" [isRequired]="false">
                  </app-text-field>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-header bg-transparent header-elements-inline">
            <h6 class="card-title font-weight-semibold text-secondary">Requestor Details</h6>
            <div class="header-elements">
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="requestorDetailsForm">
              <div class="row">
                <div class="col-sm-3 mb-4">
                  <app-label [label]="'Contact Person'"></app-label>
                  <kendo-dropdownlist class="form-group" [data]="filteredData?.resources" [filterable]="true" textField="name"
                    valueField="id" [formControlName]="'contactPerson'" [defaultItem]="'Select Contact Person'"
                    (selectionChange)="resourceSelected($event)" [readonly]="mrDetails?.id > 0">
                  </kendo-dropdownlist>
                </div>
                <div class="col-sm-3 mb-4">
                  <app-text-field [formControlName]="'designation'" [formGroup]="requestorDetailsForm"
                    [fieldName]="'designation'" [label]="'Designation'" ngDefaultControl
                    [value]="selectedResource?.designation" [isRequired]="false" [isReadonly]="true">
                  </app-text-field>
                </div>
                <div class="col-sm-3 mb-4">
                  <app-text-field [formControlName]="'contactNo'" [formGroup]="requestorDetailsForm"
                    [fieldName]="'contactNo'" [label]="'contactNo'" [placeholder]="'Contact Person No'" ngDefaultControl
                    [value]="selectedResource?.mobile" [isRequired]="false" [isReadonly]="true">
                  </app-text-field>
                </div>
                <div class="col-sm-3 mb-4">
                  <app-text-field [formControlName]="'contactEmail'" [formGroup]="requestorDetailsForm"
                    [fieldName]="'contactEmail'" [label]="'Contact Person Email'" ngDefaultControl
                    [value]="selectedResource?.email" [isRequired]="false" [isReadonly]="true">
                  </app-text-field>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-header bg-transparent header-elements-inline">
            <h6 class="card-title font-weight-semibold text-secondary">Financial Information</h6>
            <div class="header-elements">
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="financialForm">
              <div class="row">
                <div class="col-sm-3 mb-2">
                  <app-label [label]="'Finance Code'"></app-label>
                  <kendo-dropdownlist class="form-group" [data]="filteredData?.financeCodes" [filterable]="true" textField="name"
                    valueField="id" [formControlName]="'financeCode'" [readonly]="mrDetails?.id>0"
                    (filterChange)="handleFilter($event, 'financeCodes')" [defaultItem]="defaultItem('Finance Code')">
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                      <span *ngIf="dataItem.name">{{ dataItem.code }} - {{ dataItem.name }}</span>
                    </ng-template>
                  </kendo-dropdownlist>
                </div>

                <div class="col-sm-3 mb-2">
                  <app-label [label]="'Cost Center'"></app-label>
                  <kendo-dropdownlist class="form-group" [data]="filteredData?.costCenters" [filterable]="true" textField="name"
                    valueField="id" [formControlName]="'costCenter'" [readonly]="mrDetails?.id>0"
                    (filterChange)="handleFilter($event, 'costCenters')" [defaultItem]="defaultItem('costCenter')">
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                      <span *ngIf="dataItem.name">{{ dataItem.code }} - {{ dataItem.name }}</span>
                    </ng-template>
                  </kendo-dropdownlist>
                </div>

                <div class="col-sm-3 mb-2">
                  <app-label [label]="'Cost Code'"></app-label>
                  <kendo-dropdownlist class="form-group" [data]="filteredData?.costCodes" [filterable]="true" textField="name"
                    valueField="id" [formControlName]="'costCode'" (filterChange)="handleFilter($event, 'costCodes')"
                    [defaultItem]="defaultItem('costCode')" [readonly]="mrDetails?.id>0">
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                      <span *ngIf="dataItem.name">{{ dataItem.code }} - {{ dataItem.name }}</span>
                    </ng-template>
                  </kendo-dropdownlist>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-header bg-transparent header-elements-inline">
            <h6 class="card-title text-cfm-color font-weight-bold"></h6>
            <div class="header-elements">
              <button type="button" class="btn btn-sm btn-secondary mr-2" (click)="add()"
                *ngIf="!(mrId > 0) && userAccess?.canAdd">
                Add</button>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <form [formGroup]="mrItemsForm">
                <table class="table table-responsive text-nowrap" style="width:120%">
                  <thead class="bg-secondary text-white">
                    <tr>
                      <th style="width: 150px"> Type </th>
                      <th style="width: 150px"> Spare Part Code </th>
                      <th style="width: 200px"> Stock Name </th>
                      <th style="width: 50px"> Avl. Qty </th>
                      <th style="width: 120px"> Req. Qty </th>
                      <th style="width: 50px"> Unit Price <i class="bi bi-info-circle"
                          [title]="'Unit price is displayed as N/A in case the stock is being issued from multiple batches'"></i>
                      </th>
                      <th style="width: 100px"> Total Price</th>
                      <th style="width: 150px"> Remarks </th>
                      <th style="width: 50px"> Delete </th>
                    </tr>
                  </thead>
                  <tbody *ngIf="isDataLoaded">
                    <ng-container formArrayName="items">
                      <ng-container *ngFor="let itemForm of items?.controls; let i = index">
                        <tr [formGroupName]="i">
                          <td>
                            <kendo-dropdownlist class="form-group" [data]="filteredData?.mrTypes" [filterable]="true" textField="name"
                              valueField="id" (filterChange)="handleFilter($event,'mrTypes')"
                              [formControlName]="'mrTypeId'" [defaultItem]="'Select Type'"
                              (selectionChange)="filterTypes(i, itemForm, $event)"
                              [readonly]="mrItemDetails[i]?.isSaved">
                            </kendo-dropdownlist>
                          </td>
                          <td>
                            <kendo-dropdownlist class="form-group" [data]="filteredData?.stocks" [filterable]="true"
                              textField="sparePartCode" valueField="id"
                              (filterChange)="handleFilterByDataSet(masterData?.stocks,$event,'stocks', 'sparePartCode','name')"
                              [readonly]="mrItemDetails[i]?.isSaved" [formControlName]="'sparePartCode'"
                              [defaultItem]="'Select Spare Part'"
                              (selectionChange)="sparePartChange(i, itemForm, $event)"
                              *ngIf="mrItemDetails[i]?.mrTypeId === 1">
                            </kendo-dropdownlist>
                          </td>
                          <td>
                            <kendo-dropdownlist class="form-group" [data]="filteredData?.stocks" [filterable]="true" textField="name"
                              valueField="id" (filterChange)="handleFilter($event,'stocks')"
                              [formControlName]="'stockId'" [defaultItem]="'Select Stock'"
                              (selectionChange)="sparePartChange(i, itemForm, $event)"
                              [readonly]="mrItemDetails[i]?.isSaved"
                              *ngIf="mrItemDetails[i]?.mrTypeId === 1; else textBox">
                            </kendo-dropdownlist>
                            <ng-template #textBox>
                              <app-text-field [formControlName]="'stockName'" [formGroup]="getIssueDetails(itemForm)"
                                [fieldName]="'stockName'" [label]="'stockName'" ngDefaultControl
                                [value]="mrItemDetails[i]?.stockName" [showLabel]="false"
                                [isReadonly]="mrItemDetails[i]?.isSaved">
                              </app-text-field>
                            </ng-template>
                          </td>
                          <td>
                            <app-text-field [formControlName]="'availableQty'" [formGroup]="getIssueDetails(itemForm)"
                              [fieldName]="'availableQty'" [label]="'availableQty'" ngDefaultControl
                              *ngIf="mrItemDetails[i]?.mrTypeId === 1" [value]="mrItemDetails[i]?.availableQty??0"
                              [showLabel]="false" [isReadonly]="true">
                            </app-text-field>
                          </td>
                          <td>
                            <app-text-field [formControlName]="'requiredQty'" [formGroup]="getIssueDetails(itemForm)"
                              [fieldName]="'requiredQty'" [label]="'requiredQty'" ngDefaultControl
                              [value]="mrItemDetails[i]?.requiredQty" [showLabel]="false"
                              (onblur)="calculateTotal(i, itemForm, 1, $event)" [isReadonly]="true"
                              (keypress)="validateNumericInput($event,1,5)"
                              *ngIf="mrItemDetails[i]?.isSaved; else editable">
                            </app-text-field>
                            <ng-template #editable>
                              <kendo-numerictextbox [autoCorrect]="true" [min]="0" [formControlName]="'requiredQty'"
                                [value]="mrItemDetails[i]?.requiredQty"
                                (valueChange)="calculateTotal(i, itemForm,1, $event)"
                                [max]="mrItemDetails[i]?.availableQty > 0 ? mrItemDetails[i]?.availableQty : 99999"
                                [readonly]="mrItemDetails[i]?.isSaved">
                              </kendo-numerictextbox>
                            </ng-template>
                          </td>
                          <td>
                            <app-text-field [formControlName]="'unitPrice'" [formGroup]="getIssueDetails(itemForm)"
                              [fieldName]="'unitPrice'" [label]="'Unit Price'" ngDefaultControl
                              (onblur)="calculateTotal(i, itemForm, 2, $event)" [value]="mrItemDetails[i]?.unitPrice??0"
                              [showLabel]="false"
                              *ngIf="mrItemDetails[i]?.mrTypeId === 1 || mrItemDetails[i]?.isSaved; else numeric"
                              [isReadonly]="true">
                            </app-text-field>
                            <ng-template #numeric>
                              <kendo-numerictextbox [autoCorrect]="true" [min]="0" [formControlName]="'unitPrice'"
                                [value]="mrItemDetails[i]?.unitPrice??0" [readonly]="mrItemDetails[i]?.isSaved"
                                (valueChange)="calculateTotal(i, itemForm,2, $event)">
                              </kendo-numerictextbox>
                            </ng-template>
                          </td>
                          <td>
                            <div class="row">
                              <div [ngClass]="mrId>0?'col-9':'col-12'">
                                <app-text-field [formControlName]="'totalPrice'" [formGroup]="getIssueDetails(itemForm)"
                                  [fieldName]="'totalPrice'" [label]="'Total Price'" ngDefaultControl
                                  [value]="mrItemDetails[i]?.totalPrice" [showLabel]="false" [isReadonly]="true">
                                </app-text-field>
                              </div>
                              <div class="col-1" *ngIf="mrId > 0 && mrItemDetails[i]?.mrTypeId === 1">
                                <i class="bi bi-info-circle cursor-pointer" (click)="openData(mrItemDetails[i])"></i>
                              </div>
                            </div>
                          </td>
                          <td>
                            <app-text-field [formControlName]="'remarks'" [formGroup]="getIssueDetails(itemForm)"
                              [fieldName]="'remarks'" [label]="'Remarks'" ngDefaultControl
                              [isReadonly]="mrItemDetails[i]?.isSaved" [value]="mrItemDetails[i]?.remarks"
                              [showLabel]="false" [isRequired]="false"></app-text-field>
                          </td>
                          <td>
                            <i class="bi bi-trash-fill text-danger p-3 cursor-pointer" (click)="delete(i)"
                              *ngIf="!mrItemDetails[i]?.isSaved"></i>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
