.btn-sharerep {
  position: absolute;
  right: 20px;
  bottom: 30px;
}
.mb-1_25{
  margin-bottom: 1.25rem;
}
.ml-6-m{
  margin-left: -6px;
}
.pl-3_5{
  padding-left: 1.55rem!important;
}
.custom-search
{
  border-radius: 1px 5px 5px 1px;
  padding-bottom: 0.45rem;
}
