.chart-container{
    border: 5px solid #fff;
    width: 450;
    height: 250;
    overflow: hidden;
}
.chart-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#map {
    height: 500px;
    width: 100%;
   }