.font-12{
  font-size: 12px;
}
.dropzone{
  height: 140px;
}
.box {
  width: 100%;
  height: auto !important;
  padding: 5px !important;
  border-style: dashed !important;
  border-radius: 4px;
  border-color: #ccc !important;
  text-align: center !important;
}
