.digi-sign {
    width: 100%;
    border: 2px dashed #ccc;
    padding: 17px;
    text-align: center;
    font-weight: bold;
}
.form-control-slim{
  height: calc(1.5715em + 1rem);
  padding: 0px 5px;
}