<!-- Inner content -->
<div class="content-inner" (scroll)="scrollHandler($event)">

  <!-- Page header -->
  <app-page-header [items]="config?.pageType" [activeItem]="'Create'"
    [pageTitle]="pageHeader?pageHeader:config?.pageTitle" [pageDescription]="pageDescription" [ignoreCase]="true"
    [buttons]="buttons" [badgeTitle]="badgeTitle" [badge]="statusBadge" (modified)="buttonClicked($event)">
  </app-page-header>
  <!-- /page header -->

  <!-- Content area -->
  <div class="content" *ngIf="serviceTypeId > 0">
    <app-alert id="alert-taskLog"></app-alert>
    <div class="row">
      <div class=" col-xl-3 col-md-12">
        <app-left-layout #location [mode]="mode" (projectChanged)="general.getData($event)"
          (locationChanged)="general.setAssetLocation($event)">
        </app-left-layout>
      </div>
      <div class="col-xl-9 col-md-12">
        <app-general #general [isEditable]="isEditable" [serviceTypeId]="serviceTypeId" [mode]="mode"
          (actionsUpdated)="updateActions($event)" (logUpdated)="updateLog($event)" (assetUpdated)="updateButtons()">
        </app-general>
      </div>
    </div>

    <div class="card-group-control card-group-control-right mr-2" id="accordion-control-right"
      *ngIf="navState.currentLogId !== 0">
      <div class="card no-shadow" style="width: 101%;">
        <div class="card-body p-0">
          <ul class="nav nav-tabs nav-tabs-solid mb-0">
            <li class="nav-item"><a class="nav-link" (click)="openTab(10)" [ngClass]="tabId===10?'active':''"
                data-toggle="tab">HSEQ</a></li>
            <li class="nav-item"><a class="nav-link" (click)="openTab(1)" [ngClass]="tabId===1?'active':''"
                data-toggle="tab">Resource</a></li>
            <li class="nav-item" *ngIf="serviceTypeId===ServiceType.PM"><a class="nav-link" (click)="openTab(2)"
                [ngClass]="tabId===2?'active':''" data-toggle="tab">Checklist</a></li>
            <li class="nav-item"><a class="nav-link" (click)="openTab(3)" [ngClass]="tabId===3?'active':''"
                data-toggle="tab">PMS</a></li>
            <li class="nav-item"><a class="nav-link" (click)="openTab(4)" [ngClass]="tabId===4?'active':''"
                data-toggle="tab">Escalation</a></li>
            <li class="nav-item"><a class="nav-link" (click)="openTab(5)" [ngClass]="tabId===5?'active':''"
                data-toggle="tab">Sub Tasks</a></li>
            <li class="nav-item"><a class="nav-link" (click)="openTab(6)" [ngClass]="tabId===6?'active':''"
                data-toggle="tab">Documents</a></li>
            <li class="nav-item"><a class="nav-link" (click)="openTab(7)" [ngClass]="tabId===7?'active':''"
                data-toggle="tab">Images</a></li>
            <li class="nav-item"><a class="nav-link" (click)="openTab(8)" [ngClass]="tabId===8?'active':''"
                data-toggle="tab">Emails</a></li>
            <li class="nav-item"><a class="nav-link" (click)="openTab(9)" [ngClass]="tabId===9?'active':''"
                data-toggle="tab" *ngIf="statusId === 3">Feedback</a></li>
            <li class="nav-item"><a class="nav-link" (click)="openTab(11)" [ngClass]="tabId===11?'active':''"
                data-toggle="tab">Stock</a></li>
            <li class="nav-item"><a class="nav-link" (click)="openTab(12)" [ngClass]="tabId===12?'active':''"
                data-toggle="tab">MR</a></li>
          </ul>
          <div class="tab-content card-body" [ngClass]="{'p-0':tabId<=0}">
            <div class="tab-pane fade" [ngClass]="tabId===1?'active show':''" id="resource" *ngIf="tabId===1">
              <app-resource #resources [resources]="masterData?.taskResources" (dataChanged)="setMasterData($event)"
                [masterResources]="masterData?.masterResources" [statusId]="statusId"
                [isLocked]="mode === LogMode.LOCKED" [userAccess]="userAccess"
                (statusChanged)="general.getData(general?.taskLogInfo?.projectId, false)">
              </app-resource>
            </div>

            <div class="tab-pane fade" [ngClass]="tabId===2 || tabId===10?'active show':''" id="checklist"
              *ngIf="tabId===2 || tabId===10">
              <app-checklist #checklist [checkListItems]="masterData?.checkListItems" *ngIf="tabId===2;else hseq"
                [tabId]="11" [isChecklist]="tabId===2" [statusId]="statusId" [isLocked]="mode === LogMode.LOCKED"
                (dataModified)="getAdditionalDetails(navState.currentLogId)" (dataChanged)="setMasterData($event)">
              </app-checklist>
              <ng-template #hseq>
                <app-checklist #checklist [statusId]="statusId"
                  (dataModified)="getAdditionalDetails(navState.currentLogId)" (dataChanged)="setMasterData($event)"
                  [checkListItems]="masterData?.hseqListItems" [isChecklist]="tabId===2" [tabId]="22"
                  [isLocked]="mode === LogMode.LOCKED">
                </app-checklist>
              </ng-template>
            </div>

            <div class="tab-pane fade" [ngClass]="tabId===3?'active show':''" id="pms" *ngIf="tabId===3">
              <app-pms [serviceTypeId]="serviceTypeId"></app-pms>
            </div>

            <div class="tab-pane fade" [ngClass]="tabId===4?'active show':''" id="escalate" *ngIf="tabId===4">
              <app-sub-task #subtasks [taskLogId]="navState.currentLogId" [gridData]="masterData?.escalations"
                [data]="taskLogData?.subTask" [statusId]="statusId"
                [isLocked]="mode === LogMode.LOCKED" [popupType]="'Escalations'">
              </app-sub-task>
            </div>

            <div class="tab-pane fade" [ngClass]="tabId===5?'active show':''" id="subtask" *ngIf="tabId===5">
              <app-sub-task #subtasks [taskLogId]="navState.currentLogId" [gridData]="masterData?.subTasks"
                [data]="taskLogData?.subTask" [statusId]="statusId" (dataChanged)="setMasterData($event)"
                [popupType]="'Sub Task'" [isLocked]="mode === LogMode.LOCKED">
              </app-sub-task>
            </div>

            <div class="tab-pane fade" [ngClass]="tabId===6?'active show':''" id="documents" *ngIf="tabId===6">
              <app-attachments [type]="'Doc'" [taskLogId]="navState.currentLogId" [attachments]="masterData?.documents"
                [statusId]="statusId" (dataChanged)="setMasterData($event)" [isLocked]="mode === LogMode.LOCKED"
                [userAccess]="userAccess">
              </app-attachments>
            </div>

            <div class="tab-pane fade" [ngClass]="tabId===7?'active show':''" id="images" *ngIf="tabId===7">
              <app-attachments [type]="'Img'" [taskLogId]="navState.currentLogId" [attachments]="masterData?.images"
                [statusId]="statusId" (dataChanged)="setMasterData($event)" [isLocked]="mode === LogMode.LOCKED"
                [userAccess]="userAccess">
              </app-attachments>
            </div>

            <div class="tab-pane fade" [ngClass]="tabId===8?'active show':''" id="email" *ngIf="tabId===8">
              <app-emails (dataChanged)="setMasterData($event)"></app-emails>
            </div>

            <div class="tab-pane fade" [ngClass]="tabId===9?'active show':''" id="feedback" *ngIf="tabId===9">
              <app-feedback [feedback]="taskLogData.feedback" (dataChanged)="setMasterData($event)"></app-feedback>
            </div>

            <div class="tab-pane fade" [ngClass]="tabId===11?'active show':''" id="stocks" *ngIf="tabId===11">
              <app-stocks (dataChanged)="setMasterData($event)"></app-stocks>
            </div>
            <div class="tab-pane fade" [ngClass]="tabId===12?'active show':''" id="stocks" *ngIf="tabId===12">
              <app-mr-tab
                [hasEditAccess]="mode !== LogMode.LOCKED && (generalForm.taskLogInfo?.statusId > ServiceStatus.OPEN || statusId > ServiceStatus.OPEN)"
                [projectId]="generalForm?.taskLogInfo?.projectId" [taskTypeId]="serviceTypeId"
                [reportedById]="generalForm?.taskLogInfo?.reportedById" [statusId]="statusId"></app-mr-tab>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-3" *ngIf="navState.currentLogId !== 0">
      <div class="card-header pb-0">
        <h6 class="card-title pb-1">
          <a class="text-body" [ngClass]="tabs[1].isCollapsed?'collapsed':''" data-toggle="collapse"
            [attr.aria-expanded]="!tabs[1].isCollapsed" (click)="toggleTabs(1)" id="OpenCases">Open Cases</a>
        </h6>
      </div>
      <div id="accordion-control-right-group2" [ngClass]="tabs[1].isCollapsed?'collapse':'collapse show'"
        data-parent="#OpenCases">
        <div class="card-body">
          <ng-container *ngIf="gridData?.configuration?.columns?.length">
            <app-kendo-grid [gridDetails]="gridData" [isViewable]="true" (edited)="edit($event)" [fileName]="pageTitle">
            </app-kendo-grid>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <!-- /content area -->
</div>
<!-- /inner content -->
<div class="bs-offset-main bs-canvas-anim" *ngIf="false">
  <button class="btn btn-secondary font-size-sm text-white" id="slideBtn" type="button" data-toggle="canvas"
    data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right"
    (click)="isActivityOpened=true">
    <i class="bi bi-clock-history text-warning mr-2"></i>
    <span class="font-weight-semibold font-size-sm  border-secondary ">Activity</span>
  </button>
</div>
<div id="bs-canvas-right" class="bs-canvas bs-canvas-anim bs-canvas-right position-fixed bg-light h-100 shadow"
  [ngStyle]="{'width': isActivityOpened?'330px':'0px'}">
  <header class="bs-canvas-header p-3 bg-warning">
    <h6 class="d-inline-block font-size-sm font-weight-bold text-light mb-0">Activity</h6>
    <button type="button" class="bs-canvas-close close" aria-label="Close" aria-expanded="true"
      (click)="isActivityOpened=false"><span aria-hidden="true" class="text-light">×</span></button>
  </header>
  <div class="bs-canvas-content px-1 bg-white">
    <div class="card-header border-0 bg-transparent header-elements-inline">
      <h6 class="card-title font-weight-semibold"> </h6>
      <div class="header-elements">
        <div class="btn-group dropdown">
          <a class="badge badge-warning dropdown-toggle" data-bs-toggle="dropdown">Filter</a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item active"><span class="badge badge-mark mr-2 bg-danger border-danger"></span>
              All</a>
            <a class="dropdown-item"><span class="badge badge-mark mr-2 bg-warning border-warning"></span>
              Notes</a>
            <a class="dropdown-item"><span class="badge badge-mark mr-2 bg-warning border-warning"></span>
              Resource Assignment</a>
            <a class="dropdown-item"><span class="badge badge-mark mr-2 bg-warning border-warning"></span> Work
              updates</a>
            <a class="dropdown-item"><span class="badge badge-mark mr-2 bg-warning border-warning"></span>
              Escalation</a>
            <a class="dropdown-item"><span class="badge badge-mark mr-2 bg-warning border-warning"></span>
              Feedback</a>
          </div>
        </div>
      </div>
    </div>
    <div class="activity-div h-100" style="overflow-y: scroll; max-height:calc(100vh - 117px)">
      <div class="timeline timeline-left">
        <div class="timeline-container">
          <div class="timeline-row">
            <div class="timeline-icon">
              <a><img src="assets/images/users/user.png" alt=""></a>
            </div>
            <div class="media-body">
              <div class="media-title">
                <a class="font-weight-semibold">Assignment</a>
                <span class="font-size-sm text-muted ml-sm-2 mb-2 mb-sm-0 d-block d-sm-inline-block">18-Nov-2021 03:06
                  PM</span>
              </div>
              <p>Resource (Roxan Diapana) added.</p>
              <div class="media-title font-weight-semibold"><a>Eugene Kopyov</a></div>
              <span class="font-weight-semibold">Administrator</span>
            </div>
          </div>

          <div class="timeline-row mt-3">
            <div class="timeline-icon">
              <a><img src="assets/images/users/user.png" alt=""></a>
            </div>
            <div class="media-body">
              <div class="media-title">
                <a class="font-weight-semibold">Note</a>
                <span class="font-size-sm text-muted ml-sm-2 mb-2 mb-sm-0 d-block d-sm-inline-block">18-Nov-2021 03:06
                  PM</span>
              </div>
              <p>Case has been updated to new priority ( C-P3-Normal ) by Omar Swalah</p>
              <div class="media-title font-weight-semibold"><a>Omar Swalah</a></div>
              <span class="font-weight-bold">Supervisor</span>
            </div>
          </div>

          <div class="timeline-row mt-3">
            <div class="timeline-icon">
              <a><img src="assets/images/users/user.png" alt=""></a>
            </div>
            <div class="media-body">
              <div class="media-title">
                <a class="font-weight-semibold">Note</a>
                <span class="font-size-sm text-muted ml-sm-2 mb-2 mb-sm-0 d-block d-sm-inline-block">18-Nov-2021 03:06
                  PM</span>
              </div>

              <p>Case has been created by Omar Swalah</p>
              <div class="media-title font-weight-semibold"><a>Omar Swalah</a></div>
              <span class="font-weight-bold">Administrator</span>
            </div>
          </div>

          <div class="timeline-row mt-3">
            <div class="timeline-icon">
              <a><img src="assets/images/users/user.png" alt=""></a>
            </div>
            <div class="media-body">
              <div class="media-title">
                <a class="font-weight-semibold">Note</a>
                <span class="font-size-sm text-muted ml-sm-2 mb-2 mb-sm-0 d-block d-sm-inline-block">18-Nov-2021 03:06
                  PM</span>
              </div>

              <p>Case has been updated to new priority ( C-P3-Normal ) by Omar Swalah</p>
              <div class="media-title font-weight-semibold"><a>Omar Swalah</a></div>
              <span class="font-weight-bold">Supervisor</span>
            </div>
          </div>

          <div class="timeline-row mt-3">
            <div class="timeline-icon">
              <a><img src="assets/images/users/user.png" alt=""></a>
            </div>
            <div class="media-body">
              <div class="media-title">
                <a class="font-weight-semibold">Note</a>
                <span class="font-size-sm text-muted ml-sm-2 mb-2 mb-sm-0 d-block d-sm-inline-block">18-Nov-2021 03:06
                  PM</span>
              </div>

              <p>Case has been created by Omar Swalah</p>
              <div class="media-title font-weight-semibold"><a>Omar Swalah</a></div>
              <span class="font-weight-bold">Administrator</span>
            </div>
          </div>

          <div class="timeline-row mt-3">
            <div class="timeline-icon">
              <a><img src="assets/images/users/user.png" alt=""></a>
            </div>
            <div class="media-body">
              <div class="media-title">
                <a class="font-weight-semibold">Note</a>
                <span class="font-size-sm text-muted ml-sm-2 mb-2 mb-sm-0 d-block d-sm-inline-block">18-Nov-2021 03:06
                  PM</span>
              </div>

              <p>Case has been updated to new priority ( C-P3-Normal ) by Omar Swalah</p>
              <div class="media-title font-weight-semibold"><a>Omar Swalah</a></div>
              <span class="font-weight-bold">Supervisor</span>
            </div>
          </div>

          <div class="timeline-row mt-3">
            <div class="timeline-icon">
              <a><img src="assets/images/users/user.png" alt=""></a>
            </div>
            <div class="media-body">
              <div class="media-title">
                <a class="font-weight-semibold">Note</a>
                <span class="font-size-sm text-muted ml-sm-2 mb-2 mb-sm-0 d-block d-sm-inline-block">18-Nov-2021 03:06
                  PM</span>
              </div>

              <p>Case has been created by Omar Swalah</p>
              <div class="media-title font-weight-semibold"><a>Omar Swalah</a></div>
              <span class="font-weight-bold">Administrator</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
