<div class="content-inner" (scroll)="scrollHandler($event)">

  <app-page-header [items]="['PPM', 'Scheduler']" [activeItem]="'Create'" [pageTitle]="'PPM Scheduler'"
    [buttons]="buttons" (modified)="buttonClicked($event)">
  </app-page-header>

  <!-- Content area -->
  <div class="content" *ngIf="isDataLoaded">
    <app-alert id="alert-scheduler"></app-alert>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-9">
            <div class="card">
              <div class="card-header bg-transparent header-elements-inline">
                <h6 class="card-title font-weight-semibold text-secondary">Select Asset</h6>
                <div class="header-elements">
                </div>
              </div>

              <div class="card-body">
                <form [formGroup]="selectAssetForm">
                  <div class="row">
                    <div class="col-md-3">
                      <app-label [label]="'Project'" [isRequired]="true"></app-label>
                      <kendo-dropdownlist class="form-group" [data]="filteredData?.projects" [filterable]="true" textField="name"
                        valueField="id" (filterChange)="handleFilter($event,'projects')" [formControlName]="'project'"
                        [defaultItem]="defaultItem('Project')" (selectionChange)="projectSelected($event)" [readonly]="!isEditable">
                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                          <span *ngIf="dataItem.name">{{ dataItem.code }} - {{ dataItem.name }}</span>
                        </ng-template>
                      </kendo-dropdownlist>
                    </div>

                    <div class="col-md-3">
                      <app-label [label]="'Building'" [isRequired]="true"></app-label>
                      <kendo-dropdownlist class="form-group" [data]="filteredData?.buildings" [filterable]="true" textField="name"
                        valueField="id" (filterChange)="handleFilter($event,'buildings')" [formControlName]="'building'"
                        [defaultItem]="defaultItem('Building')" (selectionChange)="getAssetData($event)"
                        [readonly]="!isEditable">
                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                          <span *ngIf="dataItem.name">{{ dataItem.code }} - {{ dataItem.name }}</span>
                        </ng-template>
                      </kendo-dropdownlist>
                    </div>

                    <div class="col-md-3">
                      <app-label [label]="'Asset'" [isRequired]="true"></app-label>
                      <kendo-dropdownlist class="form-group" [data]="filteredData?.assets" [filterable]="true" textField="name"
                        valueField="id" (filterChange)="handleFilter($event,'assets')" [formControlName]="'asset'"
                        [defaultItem]="defaultItem('assets')" (selectionChange)="selectAsset($event)"
                        [readonly]="!isEditable">
                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                          <span *ngIf="dataItem.name">{{ dataItem.code }} - {{ dataItem.name }}</span>
                        </ng-template>
                      </kendo-dropdownlist>
                    </div>

                    <div class="col-md-3">
                      <app-text-field [formControlName]="'assetId'" [formGroup]="selectAssetForm"
                        [fieldName]="'assetId'" [label]="'Asset Id'" ngDefaultControl [value]="asset?.code??''"
                        [isRequired]="false" [isReadonly]="true">
                      </app-text-field>
                    </div>

                    <div class="col-md-3">
                      <app-text-field [formControlName]="'assetName'" [formGroup]="selectAssetForm"
                        [fieldName]="'assetName'" [label]="'Asset Name'" ngDefaultControl [value]="asset?.name??''"
                        [isRequired]="false" [isReadonly]="true">
                      </app-text-field>
                    </div>

                    <div class="col-md-3">
                      <app-text-field [formControlName]="'location'" [formGroup]="selectAssetForm"
                        [fieldName]="'location'" [label]="'Location'" ngDefaultControl [value]="asset?.floorName??''"
                        [isRequired]="false" [isReadonly]="true">
                      </app-text-field>
                    </div>

                    <div class="col-md-3">
                      <app-text-field [formControlName]="'qty'" [formGroup]="selectAssetForm" [fieldName]="'qty'"
                        [inputType]="'number'" [label]="'Qty'" ngDefaultControl [value]="asset?.quantity??''"
                        [isRequired]="false" [isReadonly]="true">
                      </app-text-field>
                    </div>

                    <div class="col-md-3 mt-2">
                      <label class="pr-1">QR Code</label>
                      <img [src]="asset?.qrCodeUrl??'assets/images/noqrimage-SM.png'" width="62px" class="border"
                        loading="lazy">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col-md-3 mt-2">
            <div class="card">
              <div class="card-body text-center">
                <div class="card-img-actions d-inline-block mb-3">
                  <img class="img-fluid rounded-circle" [src]="asset?.assetImageUrl??'assets/images/noimage-SM.png'"
                    width="150" [alt]="asset?.assetImageUrl" loading="lazy">
                  <h6 class="font-weight-semibold mb-0">{{asset?.name}}</h6>
                  <div class="card-img-actions-overlay card-img rounded-circle">
                    <a class="btn btn-outline-white border-2 btn-icon rounded-pill">
                      <i class="bi bi-pencil"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header bg-transparent header-elements-inline">
            <h6 class="card-title font-weight-semibold text-secondary">Set PPM</h6>
            <div class="header-elements">
            </div>
          </div>

          <div class="card-body">
            <form [formGroup]="setPPMForm">
              <div class="row">
                <div class="col-md-3">
                  <app-text-field [formControlName]="'ppmCode'" [formGroup]="setPPMForm" [fieldName]="'ppmCode'"
                    [label]="'#PPM Code'" [placeholder]="'#PPM Code'" ngDefaultControl
                    [value]="schedulerData?.ppmCode??''" [isRequired]="false" [isReadonly]="true">
                  </app-text-field>
                </div>

                <div class="col-md-3">
                  <app-label [label]="'Instruction Set'" [isRequired]="true"></app-label>
                  <kendo-dropdownlist class="form-group" [data]="filteredData?.taskInstructions" [filterable]="true" textField="name"
                    valueField="id" (filterChange)="handleFilter($event,'taskInstructions')"
                    [formControlName]="'instructionSet'" [defaultItem]="'Select InstructionSet'"
                    (selectionChange)="getInstructionData($event.id)" [readonly]="!isEditable">
                  </kendo-dropdownlist>
                </div>

                <div class="col-md-3">
                  <app-text-field [formControlName]="'family'" [formGroup]="setPPMForm" [fieldName]="'family'"
                    [label]="'Family'" ngDefaultControl [value]="schedulerData?.family??''" [isRequired]="false"
                    [isReadonly]="!isEditable">
                  </app-text-field>
                </div>

                <div class="col-md-3">
                  <app-label [label]="'Priority'" [isRequired]="true"></app-label>
                  <kendo-dropdownlist class="form-group" [data]="filteredData?.priorities" [filterable]="true" textField="name"
                    valueField="id" (filterChange)="handleFilter($event,'priorities')" [formControlName]="'priority'"
                    [defaultItem]="defaultItem('Priority')" [readonly]="!isEditable">
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                      <span *ngIf="dataItem.name">{{ dataItem.code }} - {{ dataItem.name }}</span>
                    </ng-template>
                  </kendo-dropdownlist>
                </div>

                <div class="col-md-3">
                  <app-text-field [formControlName]="'estimationTime'" [formGroup]="setPPMForm"
                    [fieldName]="'estimationTime'" [inputType]="'number'" [label]="'Estimation Time'" ngDefaultControl
                    [value]="instruction?.estimatedTimeInMins??schedulerData?.estimationTime" [isRequired]="false" [isReadonly]="true">
                  </app-text-field>
                </div>

                <div class="col-md-3">
                  <app-text-field [formControlName]="'estimationMen'" [formGroup]="setPPMForm"
                    [fieldName]="'estimationMen'" [inputType]="'number'" [label]="'Estimation Men'" ngDefaultControl
                    [value]="instruction?.noOfStaff??schedulerData?.estimationMen" [isRequired]="false" [isReadonly]="true">
                  </app-text-field>
                </div>

                <div class="col-md-3">
                  <app-text-field [formControlName]="'stockLabCost'" [formGroup]="setPPMForm"
                    [fieldName]="'stockLabCost'" [label]="'StockLab Cost'" [pipe]="'currency'" ngDefaultControl
                    [isRequired]="false" [value]="instruction?.estimatedStockCost??schedulerData?.stockLabCost" [isReadonly]="true">
                  </app-text-field>
                </div>

                <div class="col-md-3">
                  <app-text-field [formControlName]="'totalCost'" [formGroup]="setPPMForm" [fieldName]="'totalCost'"
                    [label]="'Total Cost'" [pipe]="'currency'" ngDefaultControl [isRequired]="false"
                    [value]="instruction?.estimatedLabourCost??schedulerData?.totalCost" [isReadonly]="true"></app-text-field>
                </div>

                <div class="col-md-3">
                  <app-label [label]="'Finance Code'" [isRequired]="true"></app-label>
                  <kendo-dropdownlist class="form-group" [data]="filteredData?.financeCodes" [filterable]="true" textField="name"
                    valueField="id" (filterChange)="handleFilter($event,'financeCodes')"
                    [formControlName]="'financeCode'" [defaultItem]="defaultItem('Finance Code')" [readonly]="!isEditable">
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                      <span *ngIf="dataItem.name">{{ dataItem.code }} - {{ dataItem.name }}</span>
                    </ng-template>
                  </kendo-dropdownlist>
                </div>

                <div class="col-md-3">
                  <app-label [label]="'Cost Center'" [isRequired]="true"></app-label>
                  <kendo-dropdownlist class="form-group" [data]="filteredData?.costCenters" [filterable]="true" textField="name"
                    valueField="id" (filterChange)="handleFilter($event,'costCenters')" [formControlName]="'costCenter'"
                    [defaultItem]="'Select costCenter'" [readonly]="!isEditable">
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                      <span *ngIf="dataItem.name">{{ dataItem.code }} - {{ dataItem.name }}</span>
                    </ng-template>
                  </kendo-dropdownlist>
                </div>

                <div class="col-md-3">
                  <app-label [label]="'Cost Code'" [isRequired]="true"></app-label>
                  <kendo-dropdownlist class="form-group" [data]="filteredData?.costCodes" [filterable]="true" textField="name"
                    valueField="id" (filterChange)="handleFilter($event,'costCodes')" [formControlName]="'costCode'"
                    [defaultItem]="defaultItem('Cost Code')" [readonly]="!isEditable">
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                      <span *ngIf="dataItem.name">{{ dataItem.code }} - {{ dataItem.name }}</span>
                    </ng-template>
                  </kendo-dropdownlist>
                </div>

                <div class="col-md-3 mb-3">
                  <app-label [label]="'Resource'" [isRequired]="true"></app-label>
                  <kendo-dropdownlist class="form-group" [data]="filteredData?.resources" [filterable]="true" textField="name"
                    valueField="id" (filterChange)="handleFilter($event,'resources')" [formControlName]="'resource'"
                    [defaultItem]="defaultItem('Resources')" (selectionChange)="resourceChanged($event)"
                    [readonly]="!isEditable">
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                      <span *ngIf="dataItem.name">{{ dataItem.name }}</span>
                    </ng-template>
                  </kendo-dropdownlist>
                </div>

                <div class="col-md-3">
                  <app-text-field [formControlName]="'designation'" [formGroup]="setPPMForm" [fieldName]="'designation'"
                    [label]="'Designation'" ngDefaultControl [value]="schedulerData?.designation??''"
                    [isRequired]="false" [isReadonly]="true">
                  </app-text-field>
                </div>

                <div class="col-md-3">
                  <app-label [label]="'Shift'" [isRequired]="false"></app-label>
                  <kendo-dropdownlist class="form-group" [data]="filteredData?.shifts" [filterable]="true" textField="name" valueField="id"
                    (filterChange)="handleFilter($event,'shifts')" [formControlName]="'shift'"
                    [defaultItem]="'Select Shift'" [readonly]="!isEditable">
                  </kendo-dropdownlist>
                </div>

                <div class="col-md-6 mt-4">
                  <div class="">
                    <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input" id="cc_li_c" checked=""
                        [formControlName]="'isPermitNeeded'">
                      <label class="custom-control-label" for="cc_li_c">Do you need permit?</label>
                    </div>

                    <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input" id="cc_li_u"
                        [formControlName]="'isHealthSafetyCheckNeeded'">
                      <label class="custom-control-label" for="cc_li_u">Health and Safety
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="card">
          <div class="card-header bg-transparent header-elements-inline">
            <h6 class="card-title font-weight-semibold text-secondary">Service Details</h6>
            <div class="header-elements">
            </div>
          </div>

          <div class="card-body">
            <form [formGroup]="serviceDetailsForm">
              <div class="row">
                <div class="col-md-3">
                  <app-text-field [formControlName]="'lastService'" [formGroup]="serviceDetailsForm" #lastDate
                    [fieldName]="'lastService'" [label]="'Last Service'" ngDefaultControl [isRequired]="true"
                    [value]="serviceDetailsData?.lastService??''" [pipe]="'date'" [isReadonly]="!isEditable"
                    (inputChange)="calculateServiceDate($event.target.value, false)">
                  </app-text-field>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label class="mb-0">Service frequency <sup class="text-danger">*</sup></label>
                    <div class="row">
                      <div class="col-lg-4">
                        <app-text-field [formControlName]="'serviceFrequency'" [formGroup]="serviceDetailsForm"
                          [fieldName]="'serviceFrequency'" [inputType]="'number'" [label]="'Service Frequency'"
                          ngDefaultControl [value]="schedulerData?.serviceFrequency??''" [isRequired]="true"
                          [showLabel]="false" [max]="60"
                          (inputChange)="calculateServiceDate($event.target.value, false, true)"
                          [isReadonly]="!isEditable">
                        </app-text-field>
                      </div>

                      <div class="col-lg-8 pl-0">
                        <kendo-dropdownlist class="form-group" [data]="filteredData?.frequencies" [filterable]="true" textField="name"
                          valueField="id" (filterChange)="handleFilter($event,'serviceFrequencyType')"
                          [formControlName]="'serviceFrequencyType'" [defaultItem]="defaultItem('Frequency Type')"
                          (selectionChange)="calculateServiceDate($event.id, false, false, true)" [readonly]="!isEditable">
                          <ng-template kendoDropDownListItemTemplate let-dataItem>
                            <span *ngIf="dataItem.name"> {{ dataItem.name }}</span>
                          </ng-template>
                        </kendo-dropdownlist>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <app-text-field [formControlName]="'nextDue'" [formGroup]="serviceDetailsForm" [fieldName]="'nextDue'"
                    #nextDate [label]="'Next Due'" ngDefaultControl [isRequired]="true"
                    [value]="serviceDetailsData?.nextDue??''" [pipe]="'date'"
                    (inputChange)="calculateServiceDate($event.target.value, true)" [isReadonly]="!isEditable">
                  </app-text-field>
                </div>

                <div class="col-md-3">
                  <app-text-field [formControlName]="'week'" [formGroup]="serviceDetailsForm" [fieldName]="'week'"
                    [inputType]="'number'" [label]="'Week'" ngDefaultControl [value]="serviceDetailsData?.week??''"
                    [isRequired]="false" [isReadonly]="true">
                  </app-text-field>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /content area -->
</div>
