<!-- Basic modal -->
<div class="card p-0 m-0">
  <div class="modal-header bg-secondary text-white">
    <h6 class="modal-title">Change Password</h6>
    <button type="button" class="btn-close btn-close-white" mat-button mat-dialog-close aria-label="Close"></button>
  </div>

  <form class="modal-body" [formGroup]="changePasswordForm">
    <div class="row">
      <div class="col-md-12">
        <app-text-field [formControlName]="'oldPassword'" [formGroup]="changePasswordForm" [fieldName]="'oldPassword'"
          [label]="'Old Password'" [placeholder]="'Old Password'" ngDefaultControl [isRequired]="true" [inputType]="PasswordView['password']">
        </app-text-field>
        <div class="form-control-feedback form-control-feedback-sm form-control-feedback-toggle text-muted mr-1">
          <i [ngClass]="PasswordView['password'] === 'password'?'bi bi-eye':'bi bi-eye-slash'"
            (click)="togglePassword('password')"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-text-field [formControlName]="'newPassword'" [formGroup]="changePasswordForm" [fieldName]="'newPassword'"
          [label]="'New Password'" [placeholder]="'New Password'" ngDefaultControl [isRequired]="true" [inputType]="PasswordView['newPassword']">
        </app-text-field>
        <div class="form-control-feedback form-control-feedback-sm form-control-feedback-toggle text-muted mr-1">
          <i [ngClass]="PasswordView['newPassword'] === 'password'?'bi bi-eye':'bi bi-eye-slash'"
            (click)="togglePassword('newPassword')"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-text-field [formControlName]="'confirmPassword'" [formGroup]="changePasswordForm"
          [fieldName]="'confirmPassword'" [label]="'Confirm Password'" [placeholder]="'Confirm Password'"
          ngDefaultControl [isRequired]="true" [inputType]="PasswordView['confirmPassword']">
        </app-text-field>
        <div class="form-control-feedback form-control-feedback-sm form-control-feedback-toggle text-muted mr-1">
          <i [ngClass]="PasswordView['confirmPassword'] === 'password'?'bi bi-eye':'bi bi-eye-slash'"
            (click)="togglePassword('confirmPassword')"></i>
        </div>
      </div>
    </div>
  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" mat-button mat-dialog-close>Close</button>
    <button type="button" class="btn btn-secondary" (click)="changePassword()"
      [disabled]="!changePasswordForm.valid">Submit</button>
  </div>
</div>
<!-- /basic modal -->
