<h6 class="d-flex font-weight-semibold flex-nowrap mb-3">
  <a class="btn-sm btn btn-outline-secondary ml-auto font-size-sm" data-toggle="modal"
    data-target="#modal_theme_addtask" (click)="editSubTask()"
    *ngIf="statusId !== ServiceStatus.CLOSED && !isLocked">Add {{popupType}}</a>
</h6>
<div class="table-responsive" *ngIf="isDataLoaded">
  <table class="table text-nowrap">
    <thead>
      <tr class="bg-secondary text-white">
        <ng-container *ngFor="let col of gridData?.configuration?.columns;let c = index">
          <th *ngIf="col.showColumn && c > 0"> {{col.displayText}}</th>
        </ng-container>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of gridData?.data; let i = index;">
        <ng-container *ngFor="let col of gridData?.configuration?.columns; let j = index">
          <td *ngIf="col.showColumn">
            <div class="d-flex align-items-center" *ngIf="j === 2">
              <div class="mr-3" *ngIf="popupType.replace(' ', '').toLowerCase() === 'subtask'">
                <a class="btn btn-secondary rounded-pill btn-icon btn-sm">
                  <span class="letter-icon">{{(item[col.mappingColumn]).toString().charAt(0)}}</span>
                </a>
              </div>
              <div>
                <a class="text-body font-weight-semibold letter-icon-title"
                  *ngIf="col.columnFormat !== ColumnFormat.DATE; else plainText">
                  {{item[col.mappingColumn]}}
                </a>
                <ng-template #plainText>
                    {{item[col.mappingColumn]| localizedDate}}
                </ng-template>
              </div>
            </div>
            <span class="text-muted font-size-sm" *ngIf="j === 4">{{item[col.mappingColumn] | localizedDate}}</span>
            <span *ngIf="j !== 4 && j !== 2">{{item[col.mappingColumn]}}</span>
          </td>
        </ng-container>
        <td>
          <div *ngIf="!isLocked && popupType.replace(' ', '').toLowerCase() === 'subtask'">
            <a class="text-dark" (click)="editSubTask(item)"><i class="bi bi-pencil-square mr-2"></i></a>
            <a class="text-danger" (click)="deleteSubTask(item.id)"><i class="bi bi-trash"></i></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
